*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

section{
    background: rgb(112, 158, 154);
    height: 1000px;
}
.text_one{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}
.text_one h1{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.text_one p{
    max-width: 70%;
    text-align: center;
    margin-bottom: 20px;
}
.main{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    position: relative;
    margin-bottom: 15px;
}

.kate img,.evgen img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    z-index: 100;
    position: relative;
}
.kate{
 
    
}
.evgen{
    
}
.path{
    position: absolute;
    top: 25px;
    height: 1px;
    border-top: 1px dashed #000;
    width: 100%;
    background: rgba(1,1,1,0.5);

}

.percent{
    background: rgba(1,1,1,0.5);
    font-size: 18px;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: auto;
    color: white;
    border-radius: 50%;
    line-height: 45px;
}
.status{
    text-align: center;
    font-size:15px; 
    margin-top: 15px;
    font-size:25px;
}
.active{
    display: block;
}
.no_active{
    display: none;
}
.status p{
    background: rgba(1,1,1,0.5);
    margin-right: 20%;
    margin-left: 20%;  
    color: white;
    border-radius: 10px;
}